


 .inicial{
  
   background-image: url(../images/finallll.png);
   background-repeat: no-repeat;
   background-position: 80%;
   background-size: cover;
   position: relative;
   height: 350px;
 }

 .inicial-2{
  
   background-image: url(../images/boot1.png);
   background-repeat: no-repeat;
   background-position: 80%;
   background-size: cover;
   position: relative;
   height: 350px;
 }

 .section-1{
  background-color: white;
  border-radius: 13px;
  box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);

 }

 
 
 
 /* CREANDO UN MAPA DE PALETA DE COLORES */
 $paleta-colores:(
   principal:linear-gradient(130deg,#C72127 0%,#621013 89%),
   secundario:rgb(224, 144, 24),
   terciario: rgb(255, 255, 219)
   );

  
  
  
 /* CREANDO UN MIXIN CON PARAMETROS*/
@mixin tamaños ($width,$height)
 { 
   width: $width;
   height: $height;
} 
 
 /* CREANDO MI VARIABLE COLOR DE PALETA DE SECCIONES*/
$color-paleta:map-get($paleta-colores , principal);

.titulo{
   font-family: 'Poppins', sans-serif;
    color:black;
    font-size: 40px;
    letter-spacing: -0.5px;
    font-weight: 600;
 }

 .subtitulo{
    font-size: 20px;
    line-height: 1.25;
 }
 .logo{
     height: 40px;
 }
 
  .section-custom{
   background-color: white;
   border-radius: 13px;
 }
   .frase{
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
   }  
  
  #footer{
    background: url(images/bg-04.png);
    background-color: map-get($paleta-colores, secundario );
    background-size: 50px 50px;
  }
 
  #opiniones{
    background: url(images/bg-04.png);
    background-color: map-get($paleta-colores, terciario );
    background-size: 50px 50px;
  }
 
  @media(min-width:768px)
  {
     .input-custom{
         width: 50%;
     } 
 
  }
 
@import "liston";
 

 
 .card-border
 {
    border:solid 10px white;
    border-radius: 20px;
    transition: all ease-out 0.2s;
    overflow: hidden;
    background-color: #e1f0e6;

    &:hover
    {
        transform: scale(1.05);
     }
 }
 .card-border2
 {
    border:solid 10px white;
    border-radius: 20px;
    transition: all ease-out 0.2s;
    overflow: hidden;
    background-color: #ffe8db;

    &:hover
    {
        transform: scale(1.05);
     }
 }
 .card-border3
 {
    border:solid 10px white;
    border-radius: 20px;
    transition: all ease-out 0.2s;
    overflow: hidden;
    background-color: #ffecbd;

    &:hover
    {
        transform: scale(1.05);
     }
 }
 
 
 
 
 
 
 
 
 
 /* CODIGO CSS-SCSS DE PAGINA VIDEOS*/

.novedades{
        padding: 5em 25px; 
        text-align: center;
        min-height: 100px; 
        grid-area:novedades;
        background: #000;
        color: #868b8d;
        box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);

        .acerca-de
        {
            img{
                border-radius: 100%;
                /* USANDO MI MIXING CON PARAMETROS*/
                @include tamaños(10em,10em);
                margin-bottom: 25px; 
            }
        }

        .bio
        {
            margin-bottom: 25px; 
            font-size: 20px; 
            line-height: 25px; 
        }
}



 

 
 .grilla2 
 {
     width: 100%;
     display: grid;
     column-gap: 20px;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: 300px 600px auto;
     grid-template-areas:
     
      "videos videos novedades"
      "videos videos novedades"
      "footer footer footer"
      ;

    #videos
    {
        grid-area: videos;

        .blog-grid
        {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 16px;
            row-gap: 40px;
            .preview-blog
            {
                .thumbnail-blog
                {
                   
                    margin-bottom: 5px;
                
                }
    
                .blog-info-grid
                {
                    display: grid;
                    grid-template-columns: 50px 1fr;
    
                    .blog-picture 
                    {
                        width: 40px;
                        border-radius: 50px;
                    }
    
                    .blog-info
                    {
                        .title-blog
                         {
                            margin-top: 0;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 20px;
                            margin-bottom: 12px;
                          }
    
                        .author-blog,
                        .view-blog 
                        {
                            font-size: 12px;
                            color: rgb(96, 96, 96);
                          }
                          
                    }
                }
            }
        }
     

    }

    .footer
     {
     
        font-size: 20px; 
        grid-area: footer;
        color: white;
        padding: 25px; 
        text-align: right;
        box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
        background-color: transparent;
        background-image: $color-paleta;;
    }
    
    

 }

 
 @media (min-width: 1200) 
 {
          
   .grilla2
             {
             
             grid-template-columns: repeat(3, 1fr);
             grid-template-rows:600px 600px auto;
             grid-template-areas:
             "videos videos novedades"
             "videos videos novedades"
             "footer footer footer"
             ;
             }
         
 }
 
 @media (min-width: 992px)
       {
          
          .grilla2
             {
             
             grid-template-columns: repeat(3, 1fr);
             grid-template-rows:600px 600px auto;
             grid-template-areas:
             "videos videos novedades"
             "videos videos novedades"
             "footer footer footer"
             ;
       
       
                
             }
       
          
       }
       
       @media (min-width: 768px)
       {
          .grilla2
           {
             grid-template-columns: 1fr 1fr;
             grid-template-rows:  1fr auto auto;
             
             grid-template-areas:
           
             "videos videos"
             "videos videos "
             "novedades novedades "
             "footer footer "
              ;
          }
 
          .blog-grid{
             grid-template-columns: 1fr 1fr;
             column-gap: 16px;
             row-gap: 20px;
          }
        
       }
          
   
       
       
       @media (min-width: 320px)
       {
          body{
             font-size: 12px;
          }
       
           .grilla2
           {
             display: grid;
            grid-template-columns: auto;
             grid-template-rows:  1fr auto 100px;
             grid-template-areas:
             
            
             "videos"
             "novedades"
             "footer "	
              ;
          }
          .grilla2 #videos .blog-grid{
             display: grid;
             grid-template-columns: 1fr ;
             row-gap: 40px;
             
          
          }
       
        
       }
       
 
 
 
       /* blog*/
 
 
       .grilla3 {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows:1fr auto;
          grid-template-areas:
            
            "cursos cursos cursos"
            "footer footer footer"
            ;
       }
       
       
       .grilla3 .cursos{
          grid-area: cursos;
       }
       
       .cursos img {
         @include tamaños(100%,100% );
          object-fit: cover;
         ;
           transition: all 2s;
       }
 
       .grilla3 img:hover{
          filter: grayscale(0);
           transform: scale(1.5);
       }
       
       .contenedor-thumbnail{
          overflow: hidden;
       }
       
       
       .grilla3 .footer {
          
          font-size: 20px; 
          grid-area: footer;
          color: white;
          padding: 25px; 
          text-align: right;
          box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
          background-color: transparent;
           background-image: $color-paleta;;
       }
       
 
    .cursos {
          grid-area:cursos;
          display: grid;
          grid-template-columns: 1;
          grid-gap: 20px; 
         
       }
 
       .articulo-curso {
          display: flex;
          flex-direction: row;
          background: #fff;
          box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
       }
       
       .articulo-curso .contenedor-texto {
          padding: 20px;
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
       }
       
       .articulo-curso .contenedor-thumbnail {
          width: 50%;
       }
       
       .articulo-curso .titulo {
          margin-bottom: 10px;
          font-size: 25px;
       }
       
       .articulo-curso .titulo a {
          font-weight: 400;
          color: #000;
       }
       
       .articulo-curso .fecha {
          font-size: 16px;
          color: #868b8d;
          margin-bottom: 10px;
       }
       
       .articulo-curso .extracto {
          font-size: 20px; 
          line-height: 25px; 
          font-weight: 300;
          margin-bottom: 20px; 
          color: #868b8d;
       }
       
       .btn-link {
          color: #fff;
          cursor: pointer;
          display: inline-block;
          padding: 0.625em; 
          background-color: #262626;
          font-size: 1em; 
          text-transform: uppercase;
          letter-spacing: 1px;
          align-self: flex-end;
       }
       
       .btn-link:hover {
          background: #000;
          text-decoration: none;
       }
       
       @media (max-width: 320px)
 {
     body{
         font-size: 12px;
     }
 
     .articulo-curso{
       flex-direction: column;
       flex-wrap: wrap;
       align-items: center;
       justify-content: space-evenly;
       padding-top: 10px;
     }
 
 }
 /* HACIENDO USO DE EXTEND PARA USAR PROPIEDADES DE LA CLASE BASE*/
.fondito-cards{
  background-image: url(../images/22.webp);
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  border:none;
}
.fondito-cards2{
   background-image: url(../images/21.webp);
    @extend .fondito-cards
 }
 .fondito-cards3{
   background-image: url(../images/23.webp);
   @extend .fondito-cards
   
 }
